
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
    <h3>@Session["CustFirstName"] "You have been successfully logged out!"</h3>
    <h3 style="color:red"><strong>Thank you for using TravelExpert Solutions.</strong> </h3>
    

</head>
<body>
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="~/Images/login.jpg" />
           
        </div>
    </div>
</body>
</html>
