@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


@*<h3>@ViewBag.Message</h3>*@

<div class="row">

    <div class="col-lg-4">
        <h2>History</h2>
        <div class="thumbnail">
            <img src="~/Images/image1.jpeg" />
            <p>
                TravelExperts is a full service travel agency. We have been serving the people of Calgary and the surrounding area, since 1999.
                Our experienced agents are always at your service to find the best solution for you.
            </p>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>Expertise</h2>
        <div class="thumbnail">
            <img src="~/Images/experience2.jpg" />
            <p>
                TravelExperts will help to find a dream vacation for you!
                Everyone sells the ticket or package for the same price but
                we have our personal touch that sets us apart from our competitors.
                We have the ability to make sure you are properly and sincerely looked after, so now
                RELAX, WITH TRAVELEXPERTS IT'S ALL TAKEN CARE OF!
            </p>


        </div>
    </div>
    <div class="col-lg-4">
        <h2>Services</h2>
        <div class="thumbnail">
            <img src="~/Images/TravelAgency.jpg" />
            <p>
                Our Services include:
                Airline Tickets,
                Hotel Reservations,
                Car Rentals,
                Vacation Packages,
                Family Reunions,
                Group Vacations,
                Cruises.
            </p>
        </div>
    </div>

</div>

@*<div class="col-lg-6">
        <div class="row">



                    <div class="thumbnail">
                          <img src="~/Images/travellers.jpg" />
                    </div>
                </div>
    </div>*@

