@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<div class="address">
    Travel Experts<br />
    100 Ave, 20 Street Calgary<br />
    <abbr title="Phone">Phone:</abbr>
    587-582-4803
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@travelexpert.com">Support@travelexpert</a><br />
        <strong>Marketing:</strong> <a href="mailto:Booking@travelexpert.com">booking@travelexpert.com</a>
    </address>
</div>
<div class="col-lg-4">
    <h2>Location</h2>
    <div class="thumbnail">
        <img src="~/Images/office.jpg" />
        <p>Our office downtown Calgary, 2020. </p>
    </div>
</div>


