@{
    ViewBag.Title = "Home Page";
}

<body background=<a href="~/Images/runway.jpg"></a>>
<div class="jumbotron">
    <h1>Travel Experts</h1>
    <p class="lead">Book your vacation package with us and save!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Family Vacations</h2>
        <img src="~/Images/family-package.jpg"width="350"  height="400">
    </div>
    <div class="col-md-4">
        <h2>Cruise Vacations</h2>
        <img src="~/Images/Carnival.jpg" width="350"  height="400">
    </div>
    <div class="col-md-4">
        <h2>All Inclusive Vacations</h2>
        <img src="~/Images/Mexico.jpg"width="350"  height="400">
    </div>
</div>
</body>