@{
    ViewBag.Title = "Registration";
}
<h2>Thank you for Registration with Us!</h2>


<div class="row">

    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="~/Images/logo.png" />
            <p>We are excited to have you here!</p>
            <p>Please Login to Continue!</p>
        </div>
    </div>
 </div>

    

    



    
